services:
  veloinfo:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    volumes:
      - .:/app:Z
      - root:/root/.local:z
      - target:/app/target
      - node_modules:/app/node_modules
      - images:/images
    ports:
      - 3000:3000
      - 3002:3002
    environment:
      - IMAGE_DIR=/images
      - PGUSER=postgres
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/carte
      - MARTIN_URL=http://localhost:3001
      - KEYCLOAK_BROWSER_URL=https://keycloak.veloinfo.ca/realms/master
      - KEYCLOAK_SERVER_URL=https://keycloak.veloinfo.ca/realms/master
      - VELOINFO_URL=http://localhost:3000
      - ENV=dev
      - MATOMO_SERVER=localhost:8080
    depends_on:
      - db
  martin:
    image: ghcr.io/maplibre/martin:v0.17.0
    volumes:
      - ./martin/fonts:/fonts/:z
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/carte
    ports:
      - 3001:3000
    depends_on:
      - db
      - veloinfo
    entrypoint: martin --font /fonts
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: carte
      POSTGRES_PASSWORD: postgres
    volumes:
      - db:/var/lib/postgresql/data:z
    ports:
      - 5432:5432
    command: postgres -c max_connections=250
  matomo:
    image: matomo
    volumes:
      - matomo:/var/www/html:Z
    environment:
      - MATOMO_DATABASE_HOST=matomo-db
      - PHP_MEMORY_LIMIT=2048MMYSQL_PASSWORD=
      - MATOMO_DATABASE_ADAPTER=mysql
      - MATOMO_DATABASE_TABLES_PREFIX=matomo_
      - MATOMO_DATABASE_USERNAME=matomo
      - MATOMO_DATABASE_PASSWORD=matomo
      - MATOMO_DATABASE_DBNAME=matomo
    ports:
      - 3010:80
  matomo-db:
    image: mariadb:10.11
    command: --max-allowed-packet=64MB
    restart: always
    volumes:
      - matomo-db:/var/lib/mysql:Z
    environment:
      - MARIADB_DATABASE=matomo
      - MARIADB_USER=matomo
      - MARIADB_PASSWORD=matomo
      - MARIADB_ROOT_PASSWORD=matomo
volumes:
  root:
  db:
  matomo-db:
  matomo:
  target:
  node_modules:
  images:


