button {
    --tw-bg-opacity: 1;
    background-color: rgb(94 234 212 / var(--tw-bg-opacity));
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    padding: .5em;
}