<!DOCTYPE html>
<html>

<head>
    <title>Vélo info</title>
    <link rel="icon" href="pub/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="node_modules/htmx.org/dist/htmx.min.js"></script>
    <link href="/node_modules/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    <link href="/pub/index.css" rel="stylesheet" />
    <link href="/pub/veloinfo.css" rel="stylesheet" />
    <link href="/pub/webmanifest.json" rel="manifest" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<div id="map">
    <div id="search" hx-trigger="load" hx-get="/search/open" class="flex justify-center">
    </div>
    <div id="info">
    </div>
    <div id="menu" hx-trigger="load" hx-get="/menu/closed" hx-swap="outerHTML">
    </div>
    <div id="buttons" class="absolute flex flex-col justify-center items-center top-36 right-2 z-10 cursor-pointer">
        <div class="flex w-[32px] h-[32px] rounded-md bg-gray-300 justify-center" hx-get="/layers" hx-target="#info"
            hx-swap="innerHTML">
            <img class="bg-white rounded-md w-[29px] h-[29px] self-center" src="/pub/layers.png">
        </div>
        <div id="speed_container"
            class="rounded-md my-2 outline outline-gray-300 outline-[2px] flex justify-center items-center bg-white w-[29px] h-[29px]">
            <div id="speed_value" class="text-lg flex justify-center items-center">
                0
            </div>
        </div>
    </div>
</div>
<md-dialog id="search_position_dialog" style="display: none;">
    <div slot="content" class="flex flex-col justify-center">
        <div style="align-self: center;">
            Recherche de votre position
        </div>
        <img src="/pub/search_location.png" style="width: 128px; align-self: center;" />
    </div>
</md-dialog>
<md-dialog id="search_route_dialog" style="display: none;">
    <div slot="content" class="flex flex-col justify-center">
        <div style="align-self: center;">
            Recherche de la meilleure route
        </div>
        <img src="/pub/search_route.png" style="width: 128px; align-self: center;" />
    </div>
</md-dialog>

<script src="/dist/index.js" type="module"></script>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//{{ matomo_server }}/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Matomo Code -->


</html>