<div class="absolute w-full max-h-[50%] overflow-auto md:w-[500px] bg-white z-20 bottom-0 rounded-lg">
    <div class="">
        <div>
            Route panel
        </div>
        <div>
            <div>
                Longueur: {{ total_length }} km
            </div>
            <div>
                <div>
                    {% let total_duration = total_length / 15.0 %}
                    {% let hours = total_duration.floor() %}
                    {% let minutes = ((total_duration - hours) * 60.0).round() %}
                    Durée:
                    {% if hours >= 1.0 %}
                    {{ hours }} heures et
                    {% endif %}
                    {{ minutes }} minutes à 15 km/h
                </div>
            </div>
            {{ error }}
        </div>
        <div class="flex justify-center">
            <md-filled-button hx-on:click="follow_route()" hx-target="#info">suivre</md-filled-button>
            <md-filled-button hx-on:click="clear()" hx-target="#info">annuler</md-filled-button>
        </div>
    </div>

</div>
<script type="text/javascript">
    {% if coordinates != "" %}
    var coordinates = {{ coordinates }};
    if (map.getLayer("selected")) {
        map.getSource("selected").setData({
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "MultiLineString",
                "coordinates": [coordinates]
            }
        });
    } else {
        map.addSource("selected", {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "MultiLineString",
                    "coordinates": [coordinates]
                }
            }
        })
        map.addLayer({
            "id": "selected",
            "type": "line",
            "source": "selected",
            "paint": {
                "line-width": 8,
                "line-color": "hsl(205, 100%, 50%)",
                "line-blur": 0,
                "line-opacity": 0.50
            }
        },
            "Road labels")
    }

    var bearing = calculateBearing(
        coordinates[0][0],
        coordinates[0][1],
        coordinates[coordinates.length - 1][0],
        coordinates[coordinates.length - 1][1]);
    var bounds = fitBounds(coordinates);
    map.fitBounds(bounds, { bearing, pitch: 0, padding: 30, duration: 900 });
    {% endif %}
    (async () => {
        try {
            const wakeLock = await navigator.wakeLock.request("screen");
        } catch (err) {
            // the wake lock request fails - usually system related, such being low on battery
            console.log(`${err.name}, ${err.message}`);
        }
    })();

    function follow_route() {
        htmx.ajax('GET', '/follow', {
            target: "#info"
        })
    };
</script>