<div id="segment_panel"
    class="absolute w-full max-h-[50%] overflow-auto md:w-[500px] bg-white z-20 bottom-0 rounded-lg">
    <img id="spinner" class="htmx-indicator absolute z-30 bottom-8 mx-auto inset-x-0 top-1" src="/pub/bars.svg" />
    <div class="p-2 m-1">
        <div>
            <div class="flex mb-2 mt-1">
                {{score_circle}}
                <div>
                    <div class="text-sm font-bold">{{ segment_name }}</div>
                    <div class="text-sm text-gray-600">{{ comment }}</div>
                </div>
            </div>
            {% if edit %}
            <form>
                {{score_selector}}
                <input type="hidden" name="way_ids" value="{{way_ids}}">
                <input type="text" name="user_name" class="border-2" placeholder="Nom" value="{{user_name}}">
                <textarea rows="4" cols="50" name="comment" class="border-2" placeholder="Commentaire"></textarea>
                <div class="uppercase m-2">
                    <label for="photo">Choisissez une photo :</label>
                    <input type="file" id="photo" name="photo">
                </div>
                <div class="flex justify-center">
                    <md-filled-button hx-post="/segment_panel" hx-encoding="multipart/form-data" hx-target="#info"
                        type="button">Enregistrer</md-filled-button>
                    <md-filled-button hx-get="/segment_panel/ways/{{way_ids}}" hx-target="#info"
                        type="button">annuler</md-filled-button>
                </div>
            </form>
            {% else %}
            <div class="">
                <div class="flex flex-row justify-center">
                    Choisissez un second point pour aggrandir la sélection ou
                </div>
                <div class="flex flex-row justify-center">
                    <md-filled-button id="route_md-filled-button"
                        hx-on:click="document.querySelector('map-div').route()"><img slot="icon"
                            src="/pub/directions.png" class="w-4 h-4 mr-1">itinéraire</md-filled-button>
                    <md-filled-button hx-get="/segment_panel/edit/ways/{{way_ids}}" hx-target="#info"><img slot="icon"
                            src="/pub/edit.png" class="w-4 h-4 mr-1">
                        Modifier</md-filled-button>
                </div>
                <div class="flex flex-row justify-center p-2">
                    <md-filled-button hx-on:click="document.querySelector('map-div').clear()">annuler</md-filled-button>
                </div>
            </div>
        </div>
        <div class="flex flex-row overflow-auto">
            {% for photo_id in photo_ids %}
            <img class="h-24 rounded-md p-2 cursor-pointer" src="/images/{{ photo_id }}_thumbnail.jpeg" alt="photo"
                hx-get="/photo_scroll/{{photo_id}}/{{way_ids}}" hx-target="#photo_scroll">
            {% endfor %}
        </div>
        <div id="photo_scroll"></div>
        <div class="uppercase m-2">historique</div>
        <div class="overflow-auto max-h-48 md:h-[500px]">
            <hr>
            {% for contribution in history %}
            {{ contribution }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>

<script type="module">
    let map = document.querySelector('map-div').map;
    var geom = {{ geom_json }};
    {% if fit_bounds %}
    map.fitBounds(document.querySelector('map-div').fitBounds(geom[0]), { padding: window.innerHeight * .12 });
    {% endif %}
    if (!window.start_marker) {
        window.start_marker = new window.maplibregl.Marker({ color: "#00f" }).setLngLat(geom[0][0]).addTo(map);
    }
    {% if !edit %}
    if (map.getLayer("selected")) {
        console.log("updating selected layer");
        map.getSource("selected").setData({
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "MultiLineString",
                "coordinates": geom
            }
        });
    } else {
        map.addSource("selected", {
            "type": "geojson",
            "data": {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "MultiLineString",
                    "coordinates": geom
                }
            }
        })
        map.addLayer({
            "id": "selected",
            "type": "line",
            "source": "selected",
            "paint": {
                "line-width": 8,
                "line-color": "hsl(205, 100%, 50%)",
                "line-blur": 0,
                "line-opacity": 0.50
            }
        },
            "Road labels")
    }
    map.getSource("veloinfo").setUrl("{{martin_url}}/bike_path");
    setTimeout(() => {
        map.getSource("veloinfo").setUrl("{{martin_url}}/bike_path");
    }, 10000);
    {% endif %}
</script>